@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h1 class="text-center">Future Plans</h1>

    <div class="d-flex flex-row">
        <div class="card m-3" style="width: 18rem;">
            <img src="~/assets/5_tips_for_creating_a_great_website.jpg" class="card-img-top" alt="">
        </div>

        <div class="card m-3" style="width: 18rem;">
            <img src="~/assets/hdr-horse-barns.jpg" class="card-img-top" alt="">
        </div>
    </div>

    <div class="beforetxt">
        I plan to eventually be self employed making websites for small businesses and potentially have my own horse riding business.
        I like making websites, so it's something I want to keep doing. Riding horses is something I've done all my life and I want to 
        help others learn and enjoy riding.
    </div>
</div>