@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">About Me</h1>
    <h2>My Name Is Katie King</h2>
    <div>
        <h3>Things I Like To Do:</h3>
        <ul>
            <li>Dye my hair a lot</li>
            <li>Ride Horses</li>
            <li>Cross Stitch</li>
            <li>Reading</li>
            <li>Make Wreaths</li>
            <li>Listen to Music</li>
        </ul>
    </div>
    <div>
        I'm not a social person, but it's something I'm working on. I like making websites. 
        I tend to focus on the looks and the layout more than anything, but it can be fun to add new functionality to websites.
    </div>
</div>
