@model IEnumerable<Movie>

	<h1>Movie List</h1>
	<h3>@TempData["success"]</h3>
	<h3>@TempData["Error"]</h3>
<p>----------------------------------------------</p>

<form class="d-flex" asp-controller="Movie" asp-action="Search" method="post">
	<input name="key" class="form-control me-sm-2" type="search" placeholder="Search" />
	<button class="btn btn-secondary my-2 my-sm-o" type="submit">Search</button>
</form>
@if (Model == null)
{
	<h2>No Movies</h2>
}
else
{
	foreach (Movie movie in Model)
	{
		<partial name="_MoviePartialView" for="@movie"/>
		<p>----------------------------------------------</p>
		//<h3>@movie.ToString()</h3>
	}
}
