@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">Welcome to My Site!</h1>
<h2>This is the home page. Please enjoy pictures of my horse:</h2>

<div class="imgDiv">
    <img src="~/assets/horse1.jpg" width="400px" /> 
    <img src="~/assets/horse2.jpg" width="400px" />
    <img src="~/assets/horse3.jpg" width="400px" />
    <img src="~/assets/horse4.jpg" width="400px" />
    <img src="~/assets/meandmyhorse.jpeg" width="400px" />
</div>