@model IEnumerable<Games>
@{
    ViewData["Title"] = "Game Collection";
}

<h1>Game Collection</h1>

<div class="form">
    <form asp-controller="Home" asp-action="Search" method="post">
        <input name="key" type="search" />
        <button type="submit">Search</button>
    </form>
</div>

<div>
    <br />
    <div class="allGames">
        @foreach (Games games in Model)
        {
            <partial name="_GamePartialView" for="@games"/>
        }
    </div>
</div>