@model IEnumerable<Games>

<h1>Game Collection</h1>
<div>
    <div>
        @foreach (Games games in Model)
        {
            <partial name="_GamePartialView" for="@games"/>
        }
    </div>
</div>