@model IEnumerable<Games>

<h1>Game Collection</h1>
<div>
    <div>
        @if (Model == null)
{
	    <h2>No Games</h2>
}
    else
{
        @foreach (Games games in Model)
        {
            <h2>@games.Title</h2>
            <div>

            </div>
        }
}
        
    </div>
</div>