@model Games
<h1>Edit Game</h1>

<div class="form">

	<form asp-action="Edit" method="post" class="AddForm">
		<label asp-for="Title" ></label><br />
		<input asp-for="Title" required /><br />

		<label asp-for="Rating"></label><br />
		<input asp-for="Rating" /><br />

		<label asp-for="Genre"></label><br />
		<input asp-for="Genre" required /><br />

		<label asp-for="Platform"></label><br />
		<input asp-for="Platform" required /><br />

		<label asp-for="ReleaseYear"></label><br />
		<input asp-for="ReleaseYear" required /><br />

		<label asp-for="Image"></label><br />
		<input asp-for="Image" /><br />
		<br />
		<button type="submit" class="AddBtn">Edit Game</button><br /><br />
		<a asp-action="Collection" asp-controller="Home" class="backBtn">Back to your collection</a>
	</form>
</div>