@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">The Game Library</h1>
<!--TODO: Change [PAGE NAME] to the name of page when I get it made, make it a link, and possibly change it to "click here"-->
<h2>Welcome to The Game Library! Go to <a asp-controller="Home" asp-action="Collection">your collection</a> to view and loan out games.</h2>
