@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">The Game Library</h1>
<!--TODO: Change [PAGE NAME] to the name of page when I get it made, make it a link, and possibly change it to "click here"-->
<h2>Welcome to The Game Library! If you are wanting to loan out a game, then go to [PAGE NAME]. If you want to look at what you have loaned out, then go to [PAGE NAME]. </h2>
