@model profile

<h1>Edit Profile</h1>

<form asp-action="editProfile" method="post">
	<label asp-for="Horsename"></label><br />
	<input asp-for="Horsename" required /><br />

	<label asp-for="OwnerName"></label><br />
	<input asp-for="OwnerName" required /><br />

	<label asp-for="Horseage"></label><br />
	<input asp-for="Horseage" /><br />

	<label asp-for="breed"></label><br />
	<input asp-for="breed" /><br />

	<label asp-for="bio"></label><br />
	<input asp-for="bio" /><br />

	<label asp-for="img"></label><br />
	<input asp-for="img" /><br />
	<br />
	<button type="submit" class="AddBtn">Edit Profile</button>
</form>