:root {
    --purple: #948392;
    --blue: #58A4B0;
    --yellow: #E2DE84;
    --pink: #B8606B;
    --black: #36393B;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: var(--black);
  margin-bottom: 60px;
}

nav, footer {
    background-color: #313436;
    color: var(--yellow);
    box-shadow: #2D2F31 2px 2px;
}

nav {
    border-bottom: solid 1px #2D2F31;
}

footer{
    border-top: solid 1px #2D2F31;
}

a, .nav-link {
    color: var(--yellow);
}

    a:hover, .nav-link:hover {
        color: #BAB86D;
    }

    a:active, .nav-link:active {
        color: #313436;
    }

h1{
    color: var(--blue);
}