html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #9DD0D4;
    color: #313131;
    font-size: 1.3em;
}

a {
    color: #9DD0D4 !important;
}

.card {
    background-color: #63B2B8 !important;
}

.text-dark {
    color: #313131 !important;
}

.nav-link:hover {
    border-radius: 15%;
    background-color: #278564;
}

.nav-link:active {
    border-radius: 15%;
    background-color: #63B2B8;
    color: #63B2B8 !important;
}

h1 {
    font-weight: bold;
}

.background {
    background-color: #63B2B8 !important;
}

.beforetxt {
    background-color: #63B2B8;
}


ul {
    list-style: '\2605';
}
