@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <h1>Life Before Neumont</h1>

    <div class="card" style="width: 18rem;">
        <img src="./assets/highschool.jpg" class="card-img-top" alt="3 people on a ledge, posing">
        <div class="card-body">
            <p class="card-text">Me and my old friends</p>
        </div>
    </div>

    <div class="text-center text-wrap mx-4 beforetxt">
        Before Neumont I was a lot more shy and less likely to talk to anyone other than my friends.
        Most the time I was found with my nose in a book, ignoring everyone and everything. I was considered the "smart kid", but I just listened
        in class and did my work. <br />
        I moved schools right before 7th grade, this caused me to shutdown and not talk to anyone for a long time. My friends from my old school eventually
        stopped talking to me, this also happened with my high school friends when I switched to online classes during COVID. Currently this is why it's
        hard for me to make friends.
    </div>
</div>