@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@if (!string.IsNullOrEmpty(ViewBag.Firstname))
{
    <h2>First Name: @ViewBag.Firstname</h2>
}else{
    <div class="makered">
        <h4>Textbox can't be empty</h4>
    </div>
}