@{
    ViewData["Title"] = "Home Page";
}
<h1 class="text-center">MadLibs</h1>

<div class="d-flex align-content-center justify-content-center center">
    <form asp-controller="Home" asp-action="Madlib" method="post">
        <label for="adj1">Adjective:</label>
        <input id="adj1" type="text" name="adj1" placeholder="Adjective" required /> <br />
        
        <label for="n2">Noun:</label>
        <input id="n2" type="text" name="n2" placeholder="Noun" required /> <br />
        
        <label for="adj3">Adjective:</label>
        <input id="adj3" type="text" name="adj3" placeholder="Adjective" required /> <br />
        
        <label for="pn4">Plural Noun:</label>
        <input id="pn4" type="text" name="pn4" placeholder="Plural Noun" required /> <br />
    
        <label for="av5">Adverb:</label>
        <input id="av5" type="text" name="av5" placeholder="Adverb" required /> <br />
    
        <label for="v6">Verb ending in ing:</label>
        <input id="v6" type="text" name="v6" placeholder="Verb" required /> <br />
    
        <label for="sw7">Silly Word (Plural):</label>
        <input id="sw7" type="text" name="sw7" placeholder="Silly Word" required /> <br />
    
        <label for="adj8">Adjective:</label>
        <input id="adj8" type="text" name="adj8" placeholder="Adjective" required /> <br />
    
        <label for="pn9">Plural Noun:</label>
        <input id="pn9" type="text" name="pn9" placeholder="Plural Noun" required /> <br />
    
        <label for="fn10">First Name:</label>
        <input id="fn10" type="text" name="fn10" placeholder="First Name" required /> <br />

        <label for="adj11">Adjective:</label>
        <input id="adj11" type="text" name="adj11" placeholder="Adjective" required /> <br />
    
        <label for="num12">Number:</label>
        <input id="num12" type="number" name="num12" placeholder="Number" required /> <br />
    
        <label for="fn13">Name:</label>
        <input id="fn13" type="text" name="fn13" placeholder="Name" required /> <br />

        <label for="fn14">Name:</label>
        <input id="fn14" type="text" name="fn14" placeholder="Name" required /> <br />

        <label for="fn15">Name:</label>
        <input id="fn15" type="text" name="fn15" placeholder="Name" required /> <br />

        <label for="fn16">Name:</label>
        <input id="fn16" type="text" name="fn16" placeholder="Name"required /> <br />

        <label for="fn17">Name:</label>
        <input id="fn17" type="text" name="fn17" placeholder="Name" required /> <br />

        <label for="fn18">Name:</label>
        <input id="fn18" type="text" name="fn18" placeholder="Name" required /> <br />

        <label for="pn19">Plural Noun:</label>
        <input id="pn19" type="text" name="pn19" placeholder="Plural Noun" required /> <br />

        <button type="submit">Submit</button>
    </form>
</div>